:root {
  --cell-size: 60px;
  --cell-font-size: var(--cell-size);
  --cell-wall-color: #666;
  --cell-active-path-color: #26ef26;
  --cell-visited-color: #ffcece;
  --cell-wall-gradient-from: #404040;
  --cell-wall-gradient-to: #cacaca;
  --border-color: grey;
}

body {
  font-family: lato, sans-serif;
}

/* Maze structure */
.container {
  display: grid;
  /* actions is usually 30px, but set auto for small screens, where it takes 2 lines */
  grid-template-rows: auto auto 20px;
  grid-gap: 10px;
  justify-items: center;
}

.maze {
  border: 1px solid var(--border-color);
}

.row {
  display: flex;
}

/* Actions */
.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.actions > * {
  margin-right: 10px;
  margin-bottom: 10px;
}

.actions:last-child {
  margin-right: 0;
}

/* Cells */
.cell {
  display: grid;
  align-content: center;
  justify-content: center;

  width: var(--cell-size);
  height: var(--cell-size);
  font-size: var(--cell-font-size);
  transition: background-color 0.4s;
}

.cell.disabled {
  background-image: linear-gradient(
    45deg,
    var(--cell-wall-gradient-from),
    var(--cell-wall-gradient-to)
  );
}

.cell.active-path {
  background-color: var(--cell-active-path-color);
}

.cell.visited {
  background-color: var(--cell-visited-color);
}

/* Buttons */
button {
  outline: none;
  background: none;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 2px;
}

button:hover {
  background-color: #bbb2b2;
}

button:active {
  background-color: #545251;
  color: #fff;
}

/* Speed  */
.speed-control {
  display: inline-flex;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 4px 15px;
}

.speed-control label {
  margin-left: 10px;
}
