@import './common.css';

body {
  font-family: lato, sans-serif;
}

.results-container {
  margin-top: 20px;
}

.results-table {
  margin: 0 auto;
}

.results-table tr td:first-child {
  text-transform: lowercase;
  letter-spacing: 2px;
}

.results-table tr td:last-child {
  font-weight: 600;
}
